@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--cor-palavras)
}
:root{
    --cor-principal: rgb(1, 8, 14);
    --cor-palavras: rgb(194, 224, 250);
    --cor-terciaria: rgb(127, 236, 255);
    --fonte-de-codigo: "Chakra Petch", sans-serif;
}
abbr{
    text-decoration: none;
}
body{
    background-color: rgb(1, 8, 14);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: rgba(1, 8, 14, 0.575);
    box-shadow: 0px 6px 7px rgba(1, 8, 14, 0.575);
    z-index: 100;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-link{
    color: rgb(215, 249, 255);
    font-weight: bold;
    margin: 0px 15px;
    padding: 8px;
    border-radius: 10px;
    transition: color, background-color, 300ms ease;
}
.nav-link:hover{
    color: var(--cor-principal);
    background-color: var(--cor-palavras);
}
.icon{
    color: rgb(1, 8, 14);
    font-size: 30px;
    background-color: rgb(194, 224, 250);
    padding: 6px;
    border-radius: 8px;
}
.botao-login{
    color: var(--cor-principal);
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(79, 241, 187);
    border: none;
    border-radius: 8px;
}
.cursos-h1, .inscreva-se{
    margin-left: 30px;
    margin-top: 20px;
    font-family: var(--fonte-de-codigo);
    font-size: 42px;
}
.cards-front-end, .cursos-back-end{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-curso{
    width: 20vw;
    border: solid 1px rgb(2, 34, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    background-color: rgb(2, 16, 23);
    min-width: 300px;
    transition: transform 300ms ease;
}
.card-curso:hover{
    transform: translate(0px, -6px);
    border-color: rgb(3, 60, 87);
}
.card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description h3{
    margin-bottom: 5px;
    font-size: 30px;
    font-family: var(--fonte-de-codigo);
}
.card-description p{
    margin-left: 5px;
}
#card-html h3{
    color: rgb(230, 94, 61);
}
#card-css h3{
    color: rgb(33, 76, 229);
}
#card-js h3{
    color: rgb(247, 224, 24);
}
#card-react h3{
    color: rgb(97, 218, 251);
}
#card-node h3{
    color: rgb(144, 197, 63);
}
#card-python h3{
    color: rgb(255, 228, 101);
}
#card-java h3{
    color: rgb(248, 153, 23);
}
#card-php h3{
    color: rgb(120, 124, 180);
}
#card-csharp h3{
    color: rgb(161, 121, 220);
}
#card-ruby h3{
    color: rgb(229, 57, 53);
}
.icon-curso{
    font-size: 10rem;
}
.icon-html{
    color: rgb(230, 94, 61);
}
.icon-css{
    color: rgb(33, 76, 229);
}
.icon-js{
    color: rgb(247, 224, 24);
}
.icon-react{
    color: rgb(97, 218, 251);
}
.icon-node{
    color: rgb(144, 197, 63);
}
.icon-python{
    color: rgb(255, 228, 101);
}
.icon-java{
    color: rgb(248, 153, 23);
}
.icon-php{
    color: rgb(120, 124, 180);
}
.icon-csharp{
    width: 9rem;
    padding: 0.8rem;
}
.icon-ruby{
    width: 10rem;
}
.ver-mais{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.ver-mais button{
    width: 9rem;
    padding: 10px;
    background-color: rgb(79, 241, 187);
    border: none;
    color: var(--cor-principal);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 300ms ease;
}
.ver-mais button:hover{
    background-color: var(--cor-palavras);
    cursor: pointer;
}
.explicacao-front h2 , .explicacao-back h2{
    margin-left: 30px;
    font-family: var(--fonte-de-codigo);
    font-size: 30px;
}
.explicacao-front p, .explicacao-back p, .inscricao p{
    margin: 15px 40px;
}
.section-back-end{
    border-bottom: 1px rgb(2, 34, 49) solid;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px rgb(2, 34, 49) solid;
    padding-bottom: 20px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario form input{
    margin: 8px 0px;
    background-color: transparent;
    border: 2px solid rgb(2, 34, 49);
    border-radius: 8px;
    padding: 6px;
    width: 20rem;
    color: white;
    font-family: 'Inter', sans-serif;
}
.formulario form button{
    width: fit-content;
    background-color: transparent;
    border: 2px solid rgb(79, 241, 187);
    padding: 6px;
    border-radius: 8px;
    color: rgb(79, 241, 187);
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
}
#limpar-botao{
    color: brown;
    border: brown solid 2px;
}  
footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
@media (max-width: 745px) {
    .nav-link{
        display: none
    }
}
@media (max-width: 367px) {
    .card-curso{
        min-width: 250px;
    }
    .formulario form input{
        width: 18rem;
    }
}
@media (max-width: 314px){
    .cursos-h1{
        font-size: 35px;
    }
    .card-curso{
        min-width: 220px;
    }
}